.single {
    .galleria-scaffolding {
        &__level {
            padding-bottom: 0;
            &--lobby {
                display: none;
                @media only screen and (min-width: 576px) {
                    display: block;
                }
            }
        }
    }
}

#finish-line {
    .featured-overlay {
        &__button {
            &:first-of-type {
                top: 10%;
                left: 25%;
            }

            &:nth-of-type(2) {
                top: 50%;
                left: 14%;
            }

            &:nth-of-type(3) {
                bottom: 17%;
                left: 36%;
            }

            &:nth-of-type(4) {
                top: 50%;
                right: 31%;
            }

            &:last-of-type {
                top: 20%;
                right: 20%;
            }
        }
    }
}

#dsw {
    .featured-overlay {
        &__button {
            &:first-of-type {
                top: 45%;
                left: 21%;
            }

            &:nth-of-type(2) {
                top: 35%;
                left: 50%;
            }

            &:nth-of-type(3) {
                bottom: 15%;
                left: 45%;
            }

            &:nth-of-type(4) {
                bottom: 44%;
                right: 15%;
            }

            &:last-of-type {
                bottom: 5%;
                right: 16%;
            }
        }
    }
}

#dillards {
    .featured-overlay {
        &__button {
            &:first-of-type {
                top: 50%;
                left: 5%;
            }

            &:nth-of-type(2) {
                bottom: 25%;
                left: 32%;
            }

            &:nth-of-type(3) {
                top: 35%;
                right: 20%;
            }

            &:last-of-type {
                top: 50%;
                right: 7%;
            }
        }
    }
}

#shein {
    .featured-overlay {
        &__button {
            &:first-of-type {
                top: 35%;
                left: 24%;
            }

            &:nth-of-type(2) {
                bottom: 40%;
                left: 48%;
            }

            &:last-of-type {
                right: 24%;
                top: 45%;
            }
        }
    }
}
