@font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Regular.eot');
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/ItalianPlateNo2Expanded-Regular.woff2') format('woff2'), url('#{$font-path}/ItalianPlateNo2Expanded-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Demibold.eot');
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Demibold.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/ItalianPlateNo2Expanded-Demibold.woff2') format('woff2'), url('#{$font-path}/ItalianPlateNo2Expanded-Demibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Bold.eot');
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/ItalianPlateNo2Expanded-Bold.woff2') format('woff2'), url('#{$font-path}/ItalianPlateNo2Expanded-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Italian Plate No2 Expanded';
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Italic.eot');
    src: url('#{$font-path}/ItalianPlateNo2Expanded-Italic.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/ItalianPlateNo2Expanded-Italic.woff2') format('woff2'), url('#{$font-path}/ItalianPlateNo2Expanded-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Adieu';
    src: url('#{$font-path}/Adieu-Light.eot');
    src: url('#{$font-path}/Adieu-Light.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Adieu-Light.woff2') format('woff2'), url('#{$font-path}/Adieu-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu';
    src: url('#{$font-path}/Adieu-Regular.eot');
    src: url('#{$font-path}/Adieu-Regular.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Adieu-Regular.woff2') format('woff2'), url('#{$font-path}/Adieu-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu';
    src: url('#{$font-path}/Adieu-Bold.eot');
    src: url('#{$font-path}/Adieu-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Adieu-Bold.woff2') format('woff2'), url('#{$font-path}/Adieu-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Adieu';
    src: url('#{$font-path}/Adieu-Black.eot');
    src: url('#{$font-path}/Adieu-Black.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/Adieu-Black.woff2') format('woff2'), url('#{$font-path}/Adieu-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
