.wrap {
    display: flex;
    flex-flow: column nowrap;
    background-image: url('../images/Sparkle_01.gif');
    margin-top: 137px;
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        margin-top: 179px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 122px;
    }
    .main {
        background-image: url('../images/sparkle-clouds.png');
        background-size: contain;
        //background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }
    video {
        display: block;
    }
}
