.button {
    font-weight: 400;
    letter-spacing: .05em;
    padding: 12px 18px;
    border-radius: 12px;

    @include media-breakpoint-up(md) {
        padding: var(--buttons__common__padding-vertical) var(--buttons__common__padding-horizontal);
        border-radius: var(--buttons__common__border--radius);
    }
    &--unstyled {
        appearance: none;
        background: transparent;
        outline: none;
        border: none;
    }
}
