input {
    &[type="text"] {
        padding-top: 0;
        padding-bottom: 0;
        min-height: 42px;
        font-size: 13px;
        &:focus {
            border-color: color-var(--global__colors__black);
        }
    }
    &[type="submit"] {
        font-weight: 400;
        font-size: 13px;
        letter-spacing: .05em;

        @include media-breakpoint-down(sm) {
            padding: 12px;
            border-radius: 12px;
        }

    }
}
