$gray: #646A6F;
$concrete: #d2d1cd;

%brick-outline {
    box-shadow: 1px 0px 1px rgba(25, 25, 25, 0.1), -1px 0px 1px rgba(25, 25, 25, 0.1), inset 0px -1px 1px rgba(25, 25, 25, 0.1), inset 0px 1px 1px rgba(25, 25, 25, 0.1);
}

%brick {
    @extend %brick-outline;
    //min-height: 56px;
    //min-width: 80px;
    background-color: $concrete;
    background-image: url("../images/texture.png");
    background-size: contain;
    background-repeat: repeat;
    //display: flex;
    //align-items: center;
    //text-align: center;
    //width: 100%;
    //flex-basis: 100%;

    //@media only screen and (min-width: 576px) {
    //    min-height: 80px;
    //}
    &--texture {
        background-image: url("../images/texture.png"), url('../images/texture-overlay.png');
    }
}

//
//.galleria {
//    padding: 0;
//    max-width: 1440px;
//    p,
//    a {
//        color: $gray;
//        letter-spacing: 1px;
//        text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
//        font-family: $font-family-headings;
//        font-size: 14px;
//        @media only screen and (min-width: 576px) {
//            font-size: 15px;
//        }
//        a {
//            text-transform: uppercase;
//            &:hover {
//                text-decoration: none;
//                color: $gray;
//            }
//        }
//    }
//}
//
//.galleria-scaffolding {
//    &--hero {
//        .galleria-scaffolding__row {
//            flex-flow: row wrap;
//            @media only screen and (min-width: 576px) {
//                flex-flow: row nowrap;
//            }
//
//            &:first-child {
//                > .galleria-scaffolding__brick {
//                    flex-basis: 50%;
//                    width: 50%;
//                    @media only screen and (max-width: 575px) {
//                        display: none;
//                        &:nth-child(-n+2) {
//                            display: block;
//                        }
//                    }
//                    @media only screen and (min-width: 576px) {
//                        flex-basis: 20%;
//                        width: 20%;
//                        &:first-child,
//                        &:last-child {
//                            flex-basis: 10%;
//                        }
//                    }
//                }
//            }
//            &:nth-child(2) {
//                > div:not(.window) {
//                    display: flex;
//                    flex-flow: column nowrap;
//                    flex: 1 0 auto;
//                    min-width: 80px;
//                    //> .galleria-scaffolding__brick {
//                    //    flex-basis: 8%;
//                    //    width: 8%;
//                    //}
//                }
//            }
//        }
//    }
//
//    &--columns {
//        .galleria-scaffolding__row {
//            width: 100%;
//            > .galleria-scaffolding__brick {
//                //min-width: auto;
//                //min-height: auto;
//                &:nth-child(odd) {
//                    flex-basis: 2.5%;
//                    width: 2.5%;
//                }
//                &:nth-child(even) {
//                    flex-basis: 12%;
//                    width: 12%;
//                }
//            }
//        }
//    }
//
//    &__row {
//        display: flex;
//        align-items: flex-start;
//    }
//
//    &__brick {
//        @extend %brick-outline;
//        min-height: 56px;
//        //min-width: 80px;
//        background-color: $concrete;
//        background-image: url("../images/texture.png");
//        background-size: contain;
//        background-repeat: repeat;
//        display: flex;
//        align-items: center;
//        text-align: center;
//        width: 100%;
//        flex-basis: 100%;
//
//        @media only screen and (min-width: 576px) {
//            min-height: 80px;
//        }
//        &--texture {
//            background-image: url("../images/texture.png"), url('../images/texture-overlay.png');
//        }
//    }
//}
//
//#back-button {
//    margin-left: 10px;
//    @media only screen and (min-width: 576px) {
//        margin-left: 40px;
//    }
//}
//
.galleria-scaffolding {
    padding: 0;
    max-width: 1440px;

    p,
    a {
        color: $gray;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
        font-family: $font-family-headings;
        font-size: 14px;
        @media only screen and (min-width: 576px) {
            font-size: 15px;
        }

        a {
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
                color: $gray;
            }
        }
    }

    hr {
        border: none;
        height: 4px;
        width: 100%;
        background-color: #646a6f;
        max-width: 720px;
        margin-bottom: 20px;
        margin-top: 20px;
        @media only screen and (min-width: 576px) {
            margin-bottom: 30px;
        }
    }

    //p,
    //a {
    //    color: $gray;
    //    letter-spacing: 1px;
    //    text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
    //    font-family: $font-family-headings;
    //    font-size: 14px;
    //    @media only screen and (min-width: 576px) {
    //        font-size: 15px;
    //    }
    //    a {
    //        &:hover {
    //            color: $gray;
    //        }
    //    }
    //}

    &__shop-all-container {
        display: flex;
        align-items: center;
        padding: 4.4% 20px;
        background-size: cover;
        background-image: url('../images/single-shop-background-mobile.jpg');
        background-repeat: no-repeat;
        background-position: top;
        @media only screen and (min-width: 576px) {
            background-image: url('../images/single-shop-background-desktop.jpg');
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {
            padding: 1% 40px;
        }

        @media only screen and (min-width: 768px) {
            padding: 1.75% 40px;
        }
    }

    &__shop-all {
        display: inline-flex;
        align-items: center;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px !important;

        &:hover {
            color: #646A6F;
        }

        @media only screen and (min-width: 992px) {
            font-size: 12px !important;
        }

        @media only screen and (min-width: 1200px) {
            font-size: 15px  !important;
        }

        &:hover {
            text-decoration: none;
        }

        .icon {
            margin-right: 10px;

            @media only screen and (min-width: 576px) {
                margin-right: 20px;
            }

            svg {
                width: 2em;
                height: 2em;
            }
        }
    }

    &__level {
        background-size: 100%;
        background-position: top;
        background-repeat: repeat-y;
        @media only screen and (max-width: 575px) {
            padding-bottom: 17.5%;
        }
    }

    &__windows-container {
        display: flex;
        justify-content: space-between;
        flex-flow: column nowrap;
        margin-left: 24px;
        margin-right: 24px;
        padding-top: 5.5%;
        //@media only screen and (min-width: 480px) {
        //    margin-left: 40px;
        //    margin-right: 40px;
        //}
        @media only screen and (min-width: 576px) {
            margin-left: 40px;
            margin-right: 40px;
            flex-flow: row nowrap;
        }
        @media only screen and (min-width: 768px) {
            margin-left: 80px;
            margin-right: 80px;
        }
    }

    &__heading {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #646A6F;
        opacity: 0.8;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
        font-size: 20px;
        @media only screen and (min-width: 1200px) {
            font-size: 40px;
        }
    }

    &__related-merchants {
        .galleria-scaffolding {
            &__title-container {
                padding: 9.3% 24px;
                text-align: center;
                background-size: cover;
                background-image: url('../images/single-title-texture-mobile.jpg');
                background-repeat: no-repeat;
                background-position: top;

                @media only screen and (min-width: 576px) {
                    background-size: 100%;
                    padding-top: 1.4%;
                    padding-bottom: 1.4%;
                    background-image: url('../images/single-title-texture-desktop.jpg');
                }

                @media only screen and (min-width: 576px) and (max-width: 767px) {
                    background-size: cover;
                }

                > .heading {
                    font-size: 14px;
                    @media only screen and (min-width: 992px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.galleria-scaffolding__level--arch {
    background-image: url('../images/arch-background-mobile.jpg');

    @media only screen and (max-width: 575px) {
        padding-bottom: 0;
    }

    @media only screen and (min-width: 576px) {
        background-image: url('../images/arch-background-desktop.jpg');
    }
    > picture:last-child {
        img {
            transform: scale(-1, -1);
        }
    }
}

.galleria-scaffolding__level--hero {
    background-image: url('../images/single-hero-background-mobile.jpg');

    @media only screen and (min-width: 576px) {
        background-image: url('../images/single-hero-background-desktop.jpg');
    }

    .galleria-scaffolding {
        &__title-container {
            max-width: 1200px;
            text-align: center;
            padding: 5.4% 0;
            margin-left: 24px;
            margin-right: 24px;
            background-size: cover;
            background-image: url('../images/single-title-brick-mobile.jpg');
            background-repeat: no-repeat;
            background-position: top;
            @media only screen and (min-width: 576px) {
                margin-left: 40px;
                margin-right: 40px;
                padding: 2.1% 0;
                background-image: url('../images/single-title-brick-desktop.jpg');
            }
            //@media only screen and (min-width: 576px) and (max-width: 767px) {
            //    margin-left:
            //}
            @media only screen and (min-width: 768px) {
                margin-left: 80px;
                margin-right: 80px;
            }
            @media only screen and (min-width: 1200px) {
                margin-left: 120px;
                margin-right: 120px;
            }
        }

        //&__heading {
        //    font-size: 38px;
        //    margin-bottom: 0;
        //    text-transform: uppercase;
        //    font-weight: 700;
        //    color: #646A6F;
        //    opacity: 0.8;
        //    letter-spacing: 1px;
        //    text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
        //    @media only screen and (min-width: 1200px) {
        //        font-size: 40px;
        //    }
        //}

        &__windows-container {
            padding-top: 0;
            max-width: 1280px;
            @media only screen and (min-width: 768px) {
                margin-left: 80px;
                margin-right: 80px;
            }
        }

        &__frame-container {
            max-width: 1280px;
            margin-left: 24px;
            margin-right: 24px;

            @media only screen and (min-width: 576px) {
                margin-left: 40px;
                margin-right: 40px;
            }

            @media only screen and (min-width: 768px) {
                margin-left: 80px;
                margin-right: 80px;
            }
        }

        &__content-container {
            padding: 2.5% 40px;
            background-size: cover;
            background-image: url('../images/single-title-frame-mobile.jpg');
            background-repeat: no-repeat;
            background-position: top;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            @media only screen and (min-width: 576px) {
                background-image: url('../images/single-title-frame-desktop.jpg');
            }

            @media only screen and (min-width: 576px) and (max-width: 767px) {
                padding: 2% 20px;
            }

            > * {
                margin-bottom: 0;
                font-size: 15px;
                font-family: $font-family-headings;
                font-weight: 400;
                color: #646A6F;
                opacity: 0.8;
                letter-spacing: 1px;
                text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);

                @media only screen and (min-width: 576px) {
                    font-size: 8px;
                }

                @media only screen and (min-width: 768px) {
                    font-size: 10px;
                }

                @media only screen and (min-width: 768px) {
                    font-size: 14px;
                }

                @media only screen and (min-width: 1200px) {
                    font-size: 24px;
                }
            }
        }
    }
}

.galleria-scaffolding__level--gift-guide-content {
    background-image: url('../images/tier-one-background-mobile.jpg');

    @media only screen and (min-width: 576px) {
        background-image: url('../images/single-gift-guide-background-desktop.jpg');
    }

    .galleria-scaffolding {
        &__gift-guide-content {
            //@extend %brick;
            box-shadow: inset 0px 11px 8px -10px color-var(--global__colors__primary), inset 0px -11px 8px -10px color-var(--global__colors__primary);
            //box-shadow: 8px 0 8px -4px color-var(--global__colors__primary), -8px 0 8px -4px color-var(--global__colors__primary);
            padding: 20px 24px;
            background-image: url('../images/scaffolding-render.jpg');

            max-width: 1280px;
            text-align: center;
            margin-left: 0;
            margin-right: 0;
            background-size: cover;
            @media only screen and (min-width: 576px) {
                padding: 40px;
                box-shadow: 0 8px 0px 0px white, 0 -8px 0px 0px white, 8px 0 8px -4px color-var(--global__colors__primary), -8px 0 8px -4px color-var(--global__colors__primary);
                margin-left: 40px;
                margin-right: 40px;
                //padding: 2.1% 0;
                //background-image: url('../images/single-title-brick-desktop.jpg');
            }
            //@media only screen and (min-width: 576px) and (max-width: 767px) {
            //    margin-left:
            //}
            @media only screen and (min-width: 768px) {
                margin-left: 80px;
                margin-right: 80px;
            }
            //@media only screen and (min-width: 1200px) {
            //    margin-left: 120px;
            //    margin-right: 120px;
            //}
        }

        &__gift-guide-content-inner {
            @media only screen and (min-width: 576px) {
                padding: 25px;
                border: 1px solid rgba(100, 106, 111, .2);
            }

            > .heading {
                font-size: 36px;
                line-height: 36px;
            }

            hr {
                //border: none;
                //height: 4px;
                //width: 100%;
                //background-color: #646a6f;
                //max-width: 720px;
                //margin-bottom: 20px;
                //margin-top: 20px;
                //@media only screen and (min-width: 576px) {
                //    margin-bottom: 30px;
                //}
            }

            > p {
                //margin-bottom: 0;
                //font-size: 15px;
                //font-family: $font-family-headings;
                //font-weight: 400;
                //color: #646A6F;
                //opacity: 0.8;
                //letter-spacing: 1px;
                //text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);

                //@media only screen and (min-width: 576px) {
                //    font-size: 8px;
                //}

                @media only screen and (min-width: 768px) {
                    font-size: 10px;
                }

                @media only screen and (min-width: 768px) {
                    font-size: 14px;
                }

                @media only screen and (min-width: 1200px) {
                    font-size: 24px;
                }
            }
        }
    }
}

//.galleria-scaffolding__level--text-columns {
//    background-image: url('../images/single-gift-guide-text-columns-mobile.jpg');
//
//    @media only screen and (min-width: 576px) and (max-width: 1199px) {
//        display: none;
//    }
//
//    @media only screen and (min-width: 768px) {
//        background-image: url('../images/single-gift-guide-text-columns-desktop.jpg');
//    }
//
//    .galleria-scaffolding__row {
//        display: flex;
//        flex-flow: column nowrap;
//        max-width: 1200px;
//        padding-top: 5.6%;
//        padding-bottom: 5.6%;
//        justify-content: space-between;
//        @media only screen and (min-width: 768px) {
//            flex-flow: row nowrap;
//            //margin-left: 40px;
//            //margin-right: 40px;
//            //padding-top: 5.6%;
//            //max-width: 1200px;
//            //justify-content: space-between;
//        }
//
//        @media only screen and (min-width: 768px) {
//            margin-left: 80px;
//            margin-right: 80px;
//        }
//
//        @media only screen and (min-width: 1200px) {
//            margin-left: 120px;
//            margin-right: 120px;
//        }
//
//        @media only screen and (max-width: 757px) {
//            > div {
//                margin-bottom: 7%;
//
//                &:last-child {
//                    margin-bottom: 0;
//                }
//            }
//        }
//
//        > div {
//            //max-width: 560px;
//            width: 100%;
//            box-shadow: inset 0px 11px 8px -10px color-var(--global__colors__primary), inset 0px -11px 8px -10px color-var(--global__colors__primary);
//            //box-shadow: 8px 0 8px -4px color-var(--global__colors__primary), -8px 0 8px -4px color-var(--global__colors__primary);
//            padding: 6.4% 24px;
//            //align-items: center;
//            //display: flex;
//            //flex-flow: column nowrap;
//            background-image: url('../images/scaffolding-render.jpg');
//
//            //max-width: 1280px;
//            //text-align: center;
//            //margin-left: 0;
//            //margin-right: 0;
//            background-size: cover;
//
//            @media only screen and (min-width: 480px) and (max-width: 575px) {
//                padding-top: 10%;
//                padding-bottom: 10%;
//            }
//
//            @media only screen and (min-width: 1200px) {
//                padding: 20px 24px;
//            }
//
//            //@media only screen and (min-width: 576px) {
//            //    max-width: 560px;
//                //box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 20px #B2FCE4, 0px 0px 8px #B2FCE4, inset 0px 0px 4px #FFFFFF;
//                ////margin: 0 40px;
//                ////&:first-child {
//                ////    margin-left: 0;
//                ////}
//                ////&:last-child {
//                ////    margin-right: 0;
//                ////}
//            //}
//
//            @media only screen and (min-width: 768px) {
//                max-width: 560px;
//                box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5), 0px 0px 20px #B2FCE4, 0px 0px 8px #B2FCE4, inset 0px 0px 4px #FFFFFF;
//                margin: 0 40px;
//                &:first-child {
//                    margin-left: 0;
//                }
//                &:last-child {
//                    margin-right: 0;
//                }
//            }
//
//            > div {
//                height: 100%;
//                align-items: center;
//                display: flex;
//                flex-flow: column nowrap;
//                text-align: center;
//                justify-content: center;
//                @media only screen and (min-width: 576px) {
//                    //padding: 21.7% 24px;
//                    border: 1px solid rgba(100, 106, 111, .2);
//                }
//
//                @media only screen and (min-width: 1200px) {
//                    padding: 8.8% 24px;
//                }
//
//                > p {
//                    margin-bottom: 0;
//                    @media only screen and (min-width: 768px) {
//                        font-size: 24px;
//                    }
//                }
//
//                > .heading {
//                    font-size: 24px;
//                    line-height: 24px;
//                }
//
//                > a {
//                    font-family: $font-family-headings;
//                    background-color: #2d2d2d;
//                    padding: 10px 40px;
//                    border-radius: 40px;
//                    text-transform: uppercase;
//                    color: #E5E4E1;
//                    text-decoration: none;
//                    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5), 0px 4px 20px rgba(178, 252, 228, 0.5), 0px 4px 8px rgba(178, 252, 228, 0.5), inset 0px 0px 4px #FFFFFF;
//                }
//            }
//        }
//    }
//}

.galleria-scaffolding__level--tier-one {
    background-image: url('../images/tier-one-background-mobile.jpg');

    &:first-child {
        @media only screen and (max-width: 575px) {
            padding-bottom: 0;
        }
    }

    @media only screen and (min-width: 576px) {
        background-image: url('../images/tier-one-background-desktop.jpg');
    }

    .galleria-scaffolding {
        &__windows-container {
            max-width: 1280px;
            @media only screen and (min-width: 1200px) {
                margin-left: 80px;
                margin-right: 80px;
            }
        }
    }

    .window {
        @media only screen and (max-width: 575px) {
            margin-bottom: 26.5%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media only screen and (min-width: 576px) {
            max-width: 520px;
            margin-left: 12px;
            margin-right: 12px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        &__title-container {
            padding: 3.6% 0;
            background-image: url('../images/window-title-background-mobile.jpg');
            @media only screen and (min-width: 576px) {
                background-image: url('../images/window-title-background-desktop.jpg');
            }
        }

        &__title {
            font-size: 20px;
            @media only screen and (min-width: 576px) {
                font-size: 16px;
            }
            @media only screen and (min-width: 992px) {
                font-size: 24px;
            }
        }
        &__video {
            display: none;
            @media only screen and (min-width: 576px) {
                display: block;
            }
        }
        &__showcase-image {
            display: block;
            @media only screen and (min-width: 576px) {
                display: none;
            }
        }
    }
}

.galleria-scaffolding__level--tier-two {
    background-image: url('../images/tier-two-background-mobile.jpg');

    @media only screen and (min-width: 576px) {
        background-image: url('../images/tier-two-background-desktop.jpg');
    }

    .galleria-scaffolding {
        &__windows-container {
            max-width: 1280px;
            flex-flow: column nowrap;
            @media only screen and (min-width: 576px) {
                flex-flow: row wrap;
            }
        }
    }

    .window {
        margin-left: 0;
        margin-right: 0;
        @media only screen and (max-width: 575px) {
            margin-bottom: 17.2%;
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 576px) {
            max-width: 302px;
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 6.3%;
        }

        @media only screen and (min-width: 576px) and (max-width: 991px) {
            flex-basis: calc(50% - 12px);
            width: calc(50% - 12px);
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                margin-left: 0;
            }
            &:nth-last-child(2),
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 992px) {
            flex-basis: calc(25% - 18px);
            width: calc(25% - 18px);
            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(4n+1) {
                margin-left: 0;
            }
            &:nth-last-child(1),
            &:nth-last-child(2),
            &:nth-last-child(3),
            &:nth-last-child(4) {
                margin-bottom: 0;
            }
        }

        &__title-container {
            padding: 6.9% 0;
            background-image: url('../images/window-title-background-brick-desktop.jpg');

            @media only screen and (min-width: 992px) {
                font-size: 15px;
            }
        }

        &__title {
            font-size: 16px;
            font-weight: 400;
            @media only screen and (min-width: 992px) {
                font-size: 12px;
            }
            @media only screen and (min-width: 1200px) {
                font-size: 18px;
            }
        }
    }
}

.galleria-scaffolding__level--gift-guides {
    background-image: url('../images/gift-guides-background-mobile.jpg');

    @media only screen and (min-width: 576px) {
        background-image: url('../images/gift-guides-background-desktop.jpg');
    }

    @media only screen and (min-width: 768px) {
        padding-bottom: 2.4%;
    }

    .galleria-scaffolding {
        &__title-container {
            width: 100%;
            text-align: center;
            padding: 9.5% 0;
            margin-bottom: 5.2%;
            @media only screen and (min-width: 576px) {
                margin-bottom: 0;
                padding: 2% 0;
            }
            @media only screen and (min-width: 576px) and (max-width: 991px) {
                padding: 1.8% 0;
            }
        }

        &__heading {
            margin-bottom: 0;
            text-transform: uppercase;
            color: #646A6F;
            opacity: 0.8;
            letter-spacing: 1px;
            text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
            line-height: 1;
            font-size: 14px;
            font-weight: 400;
            @media only screen and (min-width: 992px) {
                font-size: 10px;
            }
            @media only screen and (min-width: 1200px) {
                font-size: 15px;
            }
        }

        &__windows-container {
            padding-top: 0;
            max-width: 1280px;
            flex-flow: column nowrap;
            @media only screen and (min-width: 576px) {
                flex-flow: row wrap;
            }
        }
    }

    .window {
        margin-left: 0;
        margin-right: 0;
        @media only screen and (max-width: 575px) {
            margin-bottom: 17.5%;
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 576px) {
            max-width: 320px;
            margin-left: 12px;
            margin-right: 12px;
            margin-bottom: 8.8%;
        }

        @media only screen and (min-width: 576px) and (max-width: 991px) {
            flex-basis: calc(50% - 12px);
            width: calc(50% - 12px);
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                margin-left: 0;
            }
            &:nth-last-child(2),
            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 992px) {
            flex-basis: 25%;
            width: 25%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
        }
        &__title-container {
            display: none;
        }
    }
}

.galleria-scaffolding__level--merchants-matrix {
    display: block;
    @media only screen and (min-width: 576px) {
        display: none;
    }
}
