.content-section {
    &__container {
        max-width: 1440px;
        position: relative;
    }
}

.content-section--arch {
    margin-top: 0 !important;
    .content-section__container {
        padding-left: 0;
        padding-right: 0;
    }
    .content-column__inner {
        > * {
            margin-bottom: 0;
        }
    }
    .content-row {
        .vc-single-image {
            &:first-child {
                display: none;
                @include media-breakpoint-up(sm) {
                    display: block;
                }
            }
            &:nth-child(2) {
                display: block;
                @include media-breakpoint-up(sm) {
                    display: none;
                }
            }
        }
    }
}

.content-section--building-row {
    .content-section {
        &__container {
            position: relative;
        }
    }
    .content-column__inner > * {
        margin-bottom: 0;
    }
    .content-row {
        margin-bottom: 0;
        .content-column {
            @media only screen and (min-width: 576px) {
                padding-left: 9%;
                padding-right: 9%;
                padding-top: 5.75%;
            }
            @include media-breakpoint-up(lg) {
                padding-left: 8.7%;
                padding-right: 8.7%;
            }
            .window {
                margin: 0 auto;
            }
        }
    }
    .content-column {
        &.col-md-3,
        &.col-md-6 {
            @media (min-width: 576px) and (max-width: 767px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
}

.content-section--building-row-small {
    .content-section__container {
        position: relative;
    }
    .content-background-image__img {
        background-size: cover;
        left: 5px;
        right: 5px;
    }
    &.content-section {
        &:not(.content-section--arch) {
            .content-section__container {
                &:before,
                &:after {
                    background-size: cover;
                }
            }
        }
    }
    .content-column__inner > * {
        margin-bottom: 0;
    }
    .content-row {
        margin-bottom: 0;
        padding-left: 4.18%;
        padding-right: 4.18%;
        margin-right: -12px;
        margin-left: -12px;
        .content-column {
            .window-spacer {
                position: relative;
                padding-bottom: 25.3%;
            }
        }
    }
    .content-column {
        padding-top: 6.10%;
        padding-left: 12px;
        padding-right: 12px;
        &.col-md-3 {
            @media (min-width: 576px) and (max-width: 767px) {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }
}

.content-section--building-row-even {
    &.content-section {
        &:not(.content-section--arch) {
            .content-section__container {
                &:before,
                &:after {
                    background-size: cover;
                }
            }
        }
    }
    .window {
        max-width: 304px;
    }
}
