.footer-nav {
    position: static;
    top: 100%;
    height: 100%;
    background-color: #fafbfc;
    padding-top: calc(var(--global__sizing__layout-spacing--double) * 1.25);
    > * {
        margin-bottom: calc(var(--global__sizing__layout-spacing--double) * 1.25);
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__top {
        .footer-nav__container {
            > * {
                margin-bottom: calc(var(--global__sizing__layout-spacing--double) * 1.5);
                &:last-child {
                    margin-bottom: 0;
                }
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__container {
        display: flex;
        flex-flow: column nowrap;
        padding-left: calc(var(--global__sizing__layout-spacing--default) * 1.85);
        padding-right: calc(var(--global__sizing__layout-spacing--default) * 1.85);
        @include media-breakpoint-up(md) {
            flex-flow: row nowrap;
            justify-content: space-between;
            padding-left: var(--global__sizing__layout-spacing--half);
            padding-right: var(--global__sizing__layout-spacing--half);
        }
    }

    &__list {
        padding: 0;

        > li {
            margin-bottom: calc(var(--global__sizing__layout-spacing--default) * 1.25);
            @include media-breakpoint-up(md) {
                margin-bottom: var(--global__sizing__layout-spacing--default);
            }

            &.footer-nav__item--heading {
                margin-bottom: var(--global__sizing__layout-spacing--default);

                .heading {
                    margin-bottom: 0;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item {
        display: flex;
        > a {
            color: #373737;
        }
    }

    .heading {
        color: #8a959e;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .25em;
        font-size: $font-size-small;
        line-height: 1;
        margin-bottom: calc(var(--global__sizing__layout-spacing--default) * 1.25);
    }

    &__social-icons {
        > li {
            padding: 0;
            margin: 0 calc(var(--global__sizing__layout-spacing--default) * 1.25);

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        svg {
            width: 2.15em;
            height: 2.15em;
        }
    }

    &__apps {
        margin-bottom: 0;
        &.list--inline {
            > * {
                padding: 0;
                margin: 0 var(--global__sizing__text-spacing--half);

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__app-image {
        max-width: 116px;
    }

    &__menu {
        padding: 0;
        list-style: none;
        font-size: $font-size-small;

        @include media-breakpoint-up(md) {
            column-count: 3;
            max-width: 565px;
        }

        > * {
            margin-bottom: var(--global__sizing__layout-spacing--default);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__menu-item {
        @include media-breakpoint-up(md) {
            max-width: 100px;
        }
        > a {
            color: color-var(--global__colors__black);
            font-weight: 700;
        }
    }
    &__bottom {
        border-bottom: 2px solid #8a959e;
        background-color: color-var(--global__colors__primary);
        padding: calc(var(--global__sizing__layout-spacing--double) * 1.25) 0;
        p > a {
            color: color-var(--global__body__color);
        }
        .footer-nav__container {
            display: flex;
            flex-flow: column nowrap;
            @include media-breakpoint-up(md) {
                flex-flow: row nowrap;
            }
            > * {
                margin-bottom: var(--global__sizing__layout-spacing--double);
                &:last-child {
                    margin-bottom: 0;
                }
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__menu-legal-container {
        > * {
            margin-bottom: var(--global__sizing__layout-spacing--double);
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__legal {
        font-size: $font-size-small;
        font-weight: 500;
        > * {
            margin-bottom: 0;
        }
    }

    &__logo {
        max-width: 165px;
    }

    &--pull-up {
        @include media-breakpoint-down(sm) {
            top: 137px;
            bottom: 0;
            position: absolute;
            left: 0;
            right: 0;
            padding-top: calc(var(--global__sizing__layout-spacing--double) * 1.25);
            height: fit-content;
            transition: all .5s ease-in-out;
        }
    }
}
