.galleria-sidewalk {
    position: relative;

    &:before {
        content: "";
        background-image: url(../images/snow-mobile.png);
        background-repeat: no-repeat;
        position: absolute;
        top: -25%;
        left: 0;
        right: 0;
        background-size: 100%;
        height: 40%;

        @media only screen and (min-width: 576px) {
            background-image: url(../images/snow-ground.png);
            top: -35%;
        }
    }
}
