.galleria-arch {
    z-index: 0;
    position: relative;
    padding: 0;
    max-width: 1440px;
    &__row {
        display: flex;

        > * {
            margin-left: 20px;
            margin-right: 20px;

            &:first-child {
                margin-left: 40px;
            }

            &:last-child {
                margin-right: 40px;
            }
            @media only screen and (min-width: 992px) {
                &:first-child {
                    margin-left: 80px;
                }

                &:last-child {
                    margin-right: 80px;
                }
            }
        }
    }

    &__text-frame {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__text-container {
        //max-width: 664px;
        padding: 4.5% 0;
        max-width: 80%;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        > * {
            color: color-var(--global__colors__white);
            margin-bottom: calc(var(--global__sizing__layout-spacing--default) * 1.5);
            &:last-child {
                margin-bottom: 0;
            }
            @media only screen and (min-width: 576px) and (max-width: 991px) {
                margin-bottom: 0;
            }
        }
    }



    &__text > p,
    &__start-shopping {
        margin: 0;
        font-weight: 400;
        text-align: center;
        font-size: 14px;
        color: color-var(--global__colors__white);
        font-family: $font-family-headings;

        @media only screen and (min-width: 480px) {
            font-size: 20px;
        }
        @media only screen and (min-width: 576px) {
            font-size: 6px;
        }
        @media only screen and (min-width: 675px) {
            font-size: 8px;
        }
        @media only screen and (min-width: 880px) {
            font-size: 10px;
        }
        @media only screen and (min-width: 1100px) {
            font-size: 12px;
        }
        @media only screen and (min-width: 1200px) {
            font-size: 14px;
        }
        @media only screen and (min-width: 1400px) {
            font-size: 18px;
        }

        > * {
            margin-bottom: 0;
        }
    }

    &__start-shopping {
        @media only screen and (min-width: 576px) and (max-width: 991px) {
            display: none;
        }
        svg {
            width: 1em;
            height: 1em;
        }
    }

    &__pillar {
        max-width: 165px;
        display: none;
        @media only screen and (min-width: 576px) {
            display: block;
        }
    }
}
