.galleria-scaffolding__level--lobby {
    background-image: url('../images/lobby-background-mobile.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: repeat-y;
    padding-bottom: 0;

    @media only screen and (min-width: 480px) {
        background-size: 100%;
    }

    @media only screen and (min-width: 576px) {
        background-image: url('../images/lobby-background-desktop.jpg');
    }

    .galleria-scaffolding {
        &__awning-container {
            display: none;
            @media only screen and (min-width: 576px) {
                display: block;
            }
        }

        &__windows-container {
            @media only screen and (max-width: 575px) {
                margin-left: 0;
                margin-right: 0;
            }
            @media only screen and (min-width: 576px) {
                align-items: flex-end;
            }
        }

        &__window-awning-container {
            position: relative;
            @media only screen and (max-width: 575px) {
                margin-left: 24px;
                margin-right: 24px;
                margin-bottom: 17.5%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            @media only screen and (min-width: 576px) {
                max-width: 360px;
                margin-left: 12px;
                margin-right: 12px;
                &--first {
                    order: 1;
                    margin-left: 0;
                }
                &--second {
                    order: 3;
                    margin-right: 0;
                }
            }
            @media only screen and (min-width: 576px) and (max-width: 1439px) {
                flex-basis: calc(30% - 12px);
                width: calc(30% - 12px);
            }
        }

        &__awning-container {
            @media only screen and (min-width: 576px) {
                position: absolute;
                //top: -128px;
                top: -24.6%;
                left: 0;
                righT: 0;
                z-index: 1;
            }
        }

        &__awning {
            @media only screen and (min-width: 576px) {
                transform: scale(1.15);
            }
        }

        &__doorway-container {
            @media only screen and (min-width: 576px) {
                max-width: 480px;
                order: 2;
                margin-left: 12px;
                margin-right: 12px;
            }
            @media only screen and (min-width: 576px) and (max-width: 1439px) {
                flex-basis: calc(40% - 12px);
                width: calc(40% - 12px);
            }
        }
    }

    .window {
        &__showcase-image-inner {
            @media only screen and (min-width: 576px) {
                padding-bottom: 62px;
                &:before {
                    border-bottom-width: 62px;
                }
            }
        }
    }
}
