@keyframes fade-in {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.galleria-sign {
    position: relative;
    padding: 0;
    margin-bottom: -35px;
    max-width: 512px;
    @media only screen and (min-width: 576px) and (max-width: 991px) {
        max-width: 55%;
    }
    &__image {
        &:not(.galleria-sign__image--off) {
            animation-name: fade-out;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
            animation-direction: alternate;
        }
        &--off {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            animation-name: fade-in;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-duration: 1.5s;
            animation-direction: alternate;
        }
    }
}
