.header-nav {
    display: flex;
    flex-flow: column nowrap;
    background-color: color-var(--global__colors__white);
    padding: var(--global__sizing__layout-spacing--default) 0 var(--global__sizing__layout-spacing--default);
    position: fixed;
    width: 100%;
    z-index: 99999;

    @include media-breakpoint-up(md) {
        padding: 0;
    }

    &__container {
        padding-left: calc(var(--global__sizing__layout-spacing--default) * 1.85);
        padding-right: calc(var(--global__sizing__layout-spacing--default) * 1.85);
        @include media-breakpoint-up(md) {
            padding-left: var(--global__sizing__layout-spacing--half);
            padding-right: var(--global__sizing__layout-spacing--half);
        }
    }
    &__logo-container {
        display: flex;
        align-items: center;
        @include media-breakpoint-between(sm,md) {
            align-self: flex-end;
        }
        &--active {
            @include media-breakpoint-down(sm) {
                .icon.icon-arrow {
                    display: none !important;
                }
                .icon.icon-close {
                    display: block !important;
                }
            }
        }
        .icon {
            cursor: pointer;
            margin-left: var(--global__sizing__text-spacing--half);
            &.icon-arrow {
                display: block;
                @include media-breakpoint-up(md) {
                    display: none;
                }
                svg {
                    width: 1em;
                    height: 1em;
                }
            }
            &.icon-close {
                display: none;
                svg {
                    width: .95em;
                    height: .95em;
                }
            }
        }
    }
    &__logo {
        max-width: 50px;
        @include media-breakpoint-up(md) {
            max-width: 165px;
        }
    }
    &__top-bar,
    &__bottom-bar {
        @include media-breakpoint-up(md) {
            border-bottom: 1px solid color-var(--global__colors__gray-lighter);
        }
    }
    &__top-bar {
        margin-bottom: var(--global__sizing__layout-spacing--default);
        @include media-breakpoint-up(md) {
            padding: var(--global__sizing__layout-spacing--default) 0;
            margin-bottom: 0;
        }
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__sub-menu-container {
        .header-nav__search-container {
            margin-top: var(--global__sizing__layout-spacing--default);
        }
    }
    &__sub-menu {
        font-size: 13px;
        font-weight: 500;
        list-style: none;
        display: inline-flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    &__sub-menu-item {
        transition: all 0.25s ease-in-out;
        margin: 0 var(--global__sizing__text-spacing--half);
        @include media-breakpoint-up(md) {
            margin: 0 var(--global__sizing__layout-spacing--half);
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &:not(.header-nav__sub-menu-item--button) {
            display: none;
            @include media-breakpoint-up(md) {
                display: list-item;
            }
        }

        > a {
            &:not(.button) {
                border-bottom: 2px solid transparent;
                color: color-var(--global__colors__gray-dark);
                margin-bottom: -2px;

                &:hover {
                    text-decoration: none;
                    color: color-var(--global__colors__gray-dark);
                    border-bottom-color: color-var(--global__colors__primary);
                }
            }
            &.button--inverted {
                @include media-breakpoint-down(sm) {
                    background-color: #373737;
                }
            }
        }
    }
    &__menu {
        list-style: none;
        width: 100%;
        display: none;
        justify-content: space-between;
        flex-basis: auto;
        padding: 0;
        margin: 0;
        font-size: $font-size-small;
        font-weight: 500;

        @include media-breakpoint-up(md) {
            display: inline-flex;
        }
    }
    &__menu-item {
        @include media-breakpoint-up(md) {
            height: 100%;
            transition: all 0.25s ease-in-out;
            margin: 0 var(--global__sizing__layout-spacing--half);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            > a {
                height: 100%;
                padding: var(--global__sizing__layout-spacing--default) 0 calc(var(--global__sizing__layout-spacing--default) - 4px);
                border-bottom: 4px solid transparent;
                color: color-var(--global__colors__gray-dark);
                transition: all 0.25s ease-in-out;
                &:hover {
                    text-decoration: none;
                    color: color-var(--global__colors__gray-dark);
                    border-bottom-color: color-var(--global__colors__primary);
                }
            }
        }
    }
    &__search-container {
        width: 100%;
        @include media-breakpoint-up(md) {
            width: auto;
        }
    }
}

