//.nav-menu {
//    width: 100%;
//    &--responsive {
//        .nav-menu {
//            &__list {
//                justify-content: space-between;
//            }
//        }
//    }
//    &__list {
//        font-size: $font-size-small;
//        font-weight: 500;
//
//        > li {
//            height: 100%;
//
//            > a {
//                height: 100%;
//                padding: var(--global__sizing__layout-spacing--default) 0 calc(var(--global__sizing__layout-spacing--default) - 4px);
//                border-bottom: 4px solid transparent;
//                color: color-var(--global__colors__gray-dark);
//                transition: all 0.25s ease-in-out;
//
//                &:hover {
//                    text-decoration: none;
//                    color: color-var(--global__colors__gray-dark);
//                    border-bottom-color: color-var(--global__colors__primary);
//                }
//            }
//        }
//    }
//}
