.searchform {
    display: flex;
    position: relative;
    input[name="s"] {
        margin-right: var(--global__sizing__layout-spacing--default);
        padding-left: calc(var(--global__sizing__layout-spacing--double) + 8px);

        @include media-breakpoint-up(sm) {
            min-width: 285px;
        }

        &:focus {
            & + input[type="submit"] {
                border: 1px solid color-var(--global__colors__black);
            }
        }
    }
    .icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: var(--global__sizing__layout-spacing--default);
        display: flex;
        align-items: center;
        svg {
            width: .75em;
            height: .75em;
            @include media-breakpoint-up(md) {
                width: .95em;
                height: .95em;
            }
        }
    }
}
