%frame {
    padding: 8px;
    box-shadow: inset 0px 0px 4px #FFFFFF;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 0px #B2FCE4) drop-shadow(0px 0px 0px #B2FCE4);

    @media only screen and (min-width: 576px) {
        padding: 12px;
    }
    &:before {
        content: '';
        border: 8px solid;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 1px 1px 1px 0.5px rgba(250, 250, 250, 0.1), inset -1px -1px 1px 0.5px rgba(250, 250, 250, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 0.2), inset 0px 0px 2px rgba(255, 255, 255, 0.4);
        filter: drop-shadow(0px 0px 0px rgba(250, 250, 250, 0.4)) drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.05)) drop-shadow(0px 1px 2px rgba(25, 25, 25, 0.2)) drop-shadow(0px 2px 2px rgba(25, 25, 25, 0.8)) drop-shadow(0px 1px 1px rgba(25, 25, 25, 0.4));
        @media only screen and (min-width: 576px) {
            border: 12px solid;
        }
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0px 0px 4px #fff;
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.5)) drop-shadow(0px 0px 0px #B2FCE4) drop-shadow(0px 0px 0px #B2FCE4);
    }
}

.window {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    will-change: transform;
    &__showcase-image-container {
        position: relative;
        &:hover {
            .window__overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__showcase-image-inner {
        @extend %frame;
        position: relative;
    }
    &__overlay {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: color-var(--global__colors__black, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.15s ease-in-out;
        > a {
            font-family: $font-family-headings;
            background-color: #2d2d2d;
            padding: 10px 40px;
            border-radius: 40px;
            text-transform: uppercase;
            color: #E5E4E1;
            text-decoration: none;
            box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5), 0px 4px 20px rgba(178, 252, 228, 0.5), 0px 4px 8px rgba(178, 252, 228, 0.5), inset 0px 0px 4px #FFFFFF;
        }
    }
    &__mobile-image {
        display: block;
        @media only screen and (min-width: 576px) {
            display: none;
        }
    }
    &__video {
        max-width: 100%;
        height: auto;
    }
    &__title-container {
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    &__title {
        text-align: center;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #646A6F;
        opacity: 0.8;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2);
    }
}
