.featured-overlay {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.15s ease-in-out;
    @media only screen and (min-width: 576px) {
        display: block;
    }

    &--modal-open {
        background-color: color-var(--global__colors__black, .6);
    }

    &__button {
        text-transform: uppercase;
        position: absolute;
        display: inline-block;
        font-family: $font-family-headings;
        background: rgba(19, 20, 41, 0.8);
        opacity: 0.8;
        box-shadow: 1px 1px 1px rgba(25, 25, 25, 0.2), inset 0px -4px 2px rgba(255, 255, 255, 0.1), inset 0px 4px 2px rgba(25, 25, 25, 0.2);
        border: 2px solid #D5D4CE;
        line-height: 15px;
        //background-color: #2d2d2d;
        //padding: 10px 40px;
        //padding: 10px 20px;
        //border-radius: 40px;
        //text-transform: uppercase;
        color: #E5E4E1;
        //text-decoration: none;
        //box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5), 0px 4px 20px rgba(178, 252, 228, 0.5), 0px 4px 8px rgba(178, 252, 228, 0.5), inset 0px 0px 4px #FFFFFF;
        transition: all 0.15s ease-in-out;

        &:hover {
            text-decoration: none;
            //color: #E5E4E1;
            opacity: 1;
        }

        @media only screen and (min-width: 576px) {
            font-size: 8px;
            padding: 5px 8px;
        }

        @media only screen and (min-width: 992px) {
            font-size: 15px;
            padding: 10px 20px;
        }
    }

    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        text-align: center;
        align-items: center;
        z-index: 10;

        &--open {
            display: flex;
        }
    }

    &__modal-container {
        max-width: 400px;
        margin: 0 auto;
        @media only screen and (min-width: 576px) {
            max-width: 200px;
        }
        @media only screen and (min-width: 768px) {
            max-width: 250px;
        }
        @media only screen and (min-width: 992px) {
            max-width: 300px;
        }
        @media only screen and (min-width: 1200px) {
            max-width: 400px;
        }
    }

    &__content {
        position: relative;

        > video {
            box-shadow: -8px 0 8px -4px color-var(--global__colors__primary), 8px 0 8px -4px color-var(--global__colors__primary), 0 8px 8px -4px color-var(--global__colors__primary);
            border: 2px solid color-var(--global__colors__primary);
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            @media only screen and (min-width: 576px) {
                max-width: 200px;
            }
            @media only screen and (min-width: 768px) {
                max-width: 250px;
            }
            @media only screen and (min-width: 992px) {
                max-width: 300px;
            }
            @media only screen and (min-width: 1200px) {
                max-width: 400px;
            }
        }
    }

    &__link-container {
        padding: 0 24px;
        max-width: 306px;
        margin: 0 auto;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;

        > a {
            font-size: 14px;
            background-color: #2d2d2d;
            padding: 10px 20px;
            border-radius: 40px;
            text-transform: uppercase;
            color: #E5E4E1;
            text-decoration: none;
            box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.5), 0px 4px 20px rgba(178, 252, 228, 0.5), 0px 4px 8px rgba(178, 252, 228, 0.5), inset 0px 0px 4px #FFFFFF;
            //position: absolute;
            //left: 0;
            //right: 0;
            //bottom: 10%;
            @media only screen and (min-width: 576px) {
                font-size: 8px;
            }
            @media only screen and (min-width: 768px) {
                font-size: 10px;
            }
            @media only screen and (min-width: 992px) {
                font-size: 14px;
            }
        }
    }
}
